body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #edd3b5;
}

#titulo {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #b5896e;
    color: black;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
}

#conteudo {
    margin-left: 120px;
    padding: 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.caixa {
    text-align: justify;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.imagem-perfil {
    width: 150px;
    height: auto;
    border-radius: 10%;
    float: right;
    margin-left: 20px;
    margin-top: -73px;
    margin-right: 80px;
}

.imagem-projeto {

    width: 700px;
    height: 400px;
}

#projeto1 button {
    background-color: #b5896e;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.imagem-projeto2 {
    width: 800px;
    height: 500px;
}

#projeto2 button {
    background-color: #b5896e;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.li button, .Git button{
    background-color: #b5896e;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

#lateral {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    background-color: #c8a286;
    color: black;
    padding: 70px;
    width: 100px;
    height: 100vh;
    text-align: center;
}

#footer {
    font-weight: bold;
    top: 0;
    width: 100%;
    background-color: #b5896e;
    color: black;
    text-align: center;
    padding: 20px 0;

}

#botaoProjeto,
#botaoProjeto2 {
    background-color: #b5896e;
    color: black;
    padding: 20px ;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    margin: 30px 30px; /* Ajustei a margem para cima e para os lados */
    margin-left: -17px;
}


#botaoProjeto:hover,
#botaoProjeto2:hover {
    background-color: #edd3b5;
}

#portfolio {
    margin-top: 20px;
}

.projeto-detalhes {
    margin-top: 20px;
}